
/*
import from font googleapis
lexend font- for body text
righteous font- for website name/title
  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
    font-weight: 400;
}

h1 {
    font-family: "Righteous";
    font-weight: 100;
    color: #7d56bc; /* 9a0e83 */
}

#logo h1 {
    padding: 20px;
    background-color: #2B2B33;
}

/* . for class */

/* # for id */
#search-bar input {
    width: 80%;
    padding: 12px 16px;
    font-size: 1rem;
    border: 2px solid #a8a7a7;
    border-radius: 100px;
}
#search-bar button {
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 10px;
    color: #404244;
    cursor: pointer;
}
#lists-row {
    display: flex;
    flex-direction: row;
}

#watchlist h2 {
    max-width: 100%;
    color: #f3e4e4; /* #6733b9; */
}

#watchlist {
    margin: 10px;
    padding: 10px 100px;
    background-color: #6868cc;
    border-radius: 20px;
}
.watchlist-card {
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 0.7rem;
    border-radius: 10px;
}

#genre-yr-row {
    display: flex;
    flex-direction: row;
}
#results {
    margin: 10px;
    padding: 10px 200px;
    background-color: #8f97a2;
    justify-content: center;
    border-radius: 20px;
}

