
/*
import from font googleapis
lexend font- for body text
righteous font- for website name/title
  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
    font-weight: 400;
}

h1 {
    font-family: "Righteous";
    font-weight: 100;
    color: #a11389;
}

