
/*
import from font googleapis
lexend font- for body text
righteous font- for website name/title
  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
    font-weight: 400;
}

h1 {
    font-family: "Righteous";
    font-weight: 100;
    color: #9a0e83; /* 9a0e83 */
}

#logo h1 {
    padding: 20px;
    background-color: #353535;
}

/* . for class */

/* # for id */
#search-bar input {
    width: 80%;
    padding: 12px 16px;
    font-size: 1rem;
    border: 2px solid #a8a7a7;
    border-radius: 100px;
}
#search-bar button {
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 10px;
    color: #404244;
    cursor: pointer;
}
#lists-row {
    display: flex;
    flex-direction: row;
}

#watchlist h2 {
    color: #0c4479;
}

#watchlist {
    margin: 10px;
    padding: 10px 100px;
    background-color: #bee0ff;
}

#results {
    margin: 10px;
    padding: 10px 200px;
    background-color: #a9c9e8;
    justify-content: center;
}

